{
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "importOrder": ["^react", "^next", "^@tanstack/react-query", "^@/*", "^./(.*)", "^[./]", "^types", "^public"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true
}
